{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app/station_detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Details</title>
</head>
<body>
    <div class="navbar">
        <h1>{{ station.stop_name }}</h1>
        <a href="{% url 'app:stations' %}" class="nav-link">Back</a>
        
    </div>
    

    <p>GTFS Stop ID: {{ station.gtfs_stop_id }} <br>
    Station ID: {{ station.station_id }} <br>
     Accessible: {{ station.ada }}</p>

    <h2>Ratings</h2>
    {% if avg_rating %}
        <p>Station Average Rating: <strong>{{ avg_rating|floatformat:1}} / 5</strong></p>
    {% else %}
        <p>No ratings yet</p>
    {% endif %}

    <table border="1">
        <tr>
            <th>Line</th>
            <th>Borough</th>
            <th>Daytime Routes</th>
            <th>South Direction Label</th>
            <th>North Direction Label</th>

        </tr>
        <tr>
            <td>{{ station.line }}</td>
            <td>{{ station.borough }}</td>
            <td>{{ station.daytime_routes }}</td>
            <td>{{ station.south_direction_label }}</td>
            <td>{{ station.north_direction_label }}</td>

        </tr>
    </table>
    <table border=1>
        <tr>
            <th>ADA Accessible</th>
            <th>ADA Northbound</th>
            <th>ADA Southbound</th>
            <th>ADA Notes</th>
            <th>Latitude</th>
            <th>Longitude</th>

        </tr>
        <tr>
            <td>{{ station.ada }}</td>
            <td>{{ station.ada_northbound }}</td>
            <td>{{ station.ada_southbound }}</td>
            <td>{{ station.ada_notes }}</td>
            <td>{{ station.gtfs_latitude }}</td>
            <td>{{ station.gtfs_longitude }}</td>

        </tr>
    </table>
    
    <a class = "go" href="{% url 'maps:map_view' %}?lat={{ station.gtfs_latitude }}&lng={{ station.gtfs_longitude }}&name={{ station.stop_name }}">Go</a>

<h2>Leave a Rating</h2>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label for="rating">Select Rating (1-5):</label>
        <select name="rating" id="rating">
            <option value="1">1 - Poor</option>
            <option value="2">2 - Fair</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5">5 - Excellent</option>
        </select>
        <br><button type="submit">Submit</button>
    </form>
{% else %}
    <p>Please <a href="{% url 'app:login' %}">log in</a> to leave a review.</p>
{% endif %}

</body>
</html>