/* General page styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form container */
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form p {
    font-size: 16px;
    color: #333;
}

/* Input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

/* Submit button styling */
button[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Register button */
button[name="register"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[name="register"]:hover {
    background-color: #0056b3;
}

/*Return to Map View */
button[name="return"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Link label */
label[for="register"] {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

/* Input and button focus effect */
input:focus,
button:focus {
    outline: none;
    border: 1px solid #007bff;
}

/* Responsive design */
@media (max-width: 400px) {
    form {
        width: 100%;
        padding: 20px;
    }
}
